<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Redirection Links</title>
    </head>
    <body>
        <form action="/" method="POST">
            <input
                type="text"
                class="field"
                name="title"
                placeholder="Title"
                value="<%=body.title%>"
                required
            />
            <input
                type="text"
                class="field"
                name="url"
                placeholder="URL"
                value="<%=body.url%>"
                required
            />
            <input
                type="text"
                class="field"
                name="description"
                placeholder="Description"
                value="<%=body.description%>"
            />

            <button>Salvar</button>
        </form>

        <%if(error){%>
        <h3><%=error.message%></h3>
        <%}%>
    </body>
</html>
